<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> fde44b8b1a67a4d31fa70a9081a57d36eab747b4
}
